<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("components/head") %>
    <title>Welcome to Glitch!</title>
  </head>
  <body>
    <%- include("components/nav") %>
    <hr class="header-line">
  
    <div class="main">
      <h1>
        전체 글
      </h1>
      <div class="post">
        
      
        <%- include("show-posts-title", {posts: posts}) %>
        
        <div class="write">
                  <a href="/write-post">글쓰기</a><br><br>
        </div>

        
        
        
      </div>
      
      <%- include("components/pagination", { page: page }) %>
      
    </div>
    <%- include("components/footer") %>
  </body>
</html>
