<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("components/head") %>
  </head>
  <body>
    <%- include("components/nav") %>
    <hr class="header-line">
  
    <div class="main">
      Project
      
      <ul>
        
        <% for (let i = 0; i < posts.length; i++) { %>
          <% if(posts[i].board == "project") { %>
            <li><h2><%= posts[i].title %></h2> <%= posts[i].body %></li>
          <% } %>
        <% } %>
      </ul>
      
      <a href="/write-post?board=project">글쓰기</a>
    </div>
    
    <%- include("components/footer") %>
  </body>
</html>
